{% extends 'druids.html' %}
{% load druids_tags %}
{% load staticfiles %}

{% block title %}Eco-gnomy: {{ view.title }}{% endblock title %}

{% block content %}
<div class="row">
  <div class="medium-12 large-12 columns medium-centered large-centered">
    <div class="panel">
      <h2>{{ view.title }}</h2>
      <table style="width:100%" id="movimientos">
	<thead>
	  <tr>
	    <th>Linea</th>
	    <th>Fecha</th>
	    <th>Tipo</th>
	    <th>Comentarios</th>
	    <th>Relación</th>
	    <th>Usuaria economia</th>
	    <th>Importe</th>
	    <th>Subtotal</th>
	    <th>Rectificar</th>
	  </tr>
	</thead>
	<tbody>
	  {% for linea in lineas|dictsortreversed:"numero" %}
	  <tr>
	    <td>{{ linea.numero }}</td>
	    <td>{{ linea.movimiento.fecha }}</td>
	    <td>{% if linea.movimiento.tipo %}{{ linea.movimiento.get_tipo_display }}{% elif linea.movimiento.tipo_salida %}{{ linea.movimiento.get_tipo_salida_display }}{% endif %}</td>
	    <td>{{ linea.movimiento.comentarios }}</td>
	    <td>{% if linea.movimiento.entradamantenimiento %}{{ linea.movimiento.entradamantenimiento.persona }}
	      {% elif linea.movimiento.entradaalquiler %}{{ linea.movimiento.entradaalquiler.persona }}
	      {% elif linea.movimiento.entradapiso %}{{ linea.movimiento.entradapiso.habitante_piso }}
	      {% elif linea.movimiento.entradadonativo %}{{ linea.movimiento.entradadonativo.persona }}
	      {% elif linea.movimiento.entradaespacioproyectoproductivo %}{{ linea.movimiento.entradaespacioproyectoproductivo.proyecto_productivo }}
	      {% elif linea.movimiento.entradabeneficioproyectoproductivo %}{{ linea.movimiento.entradabeneficioproyectoproductivo.proyecto_productivo }}
	      {% elif linea.movimiento.entradaalquilertrastero %}{{ linea.movimiento.entradaalquilertrastero.persona_trastero }}
	      {% else %}---{% endif %}</td>
	    <td>{{ linea.movimiento.usuaria_economia }}</td>
	    <td id="importe-{{ linea.numero }}" {% with clase=linea.movimiento|to_class_name %}{% if clase == "Entrada" %}style="color:green;"{% else %}style="color:red;"{% endif %}{% endwith %}>{{ linea.movimiento.importe }}</td>
	    <td id="subtotal-{{ linea.numero }}"></td>
	    <td>{% with clase=linea.movimiento|to_class_name %}{% if clase == "Salida" %}<a href="{% url 'druids:rectificar-salida' salida_id=linea.movimiento.id %}"><center>X</center></a>{% else %}<a href="{% url 'druids:rectificar-entrada' entrada_id=linea.movimiento.id %}"><center>X</center></a>{% endif %}{% endwith %}</td>
	  </tr>
	  {% empty %}
	  <tr>
	    <td>No hay ningúna entrada para estas fechas.</td>
	  </tr>
	  {% endfor %}
	</tbody>
      </table>
    </div>
  </div>
</div>
{% endblock content %}

{% block body_js %}
<script src="{% static 'druids/js/vendor/decimal.min.js' %}"></script>
<script>
  {% for linea in lineas|dictsortreversed:"numero" %}
  {% if forloop.first %}
  $("#subtotal-{{ linea.numero }}").html("{{ linea.movimiento.registro.saldo }}");
  {% else %}
  var linea_id = {{ linea.numero }} + 1;
  var old_subtotal = new Decimal($("#subtotal-"+linea_id).html());
  var difference = new Decimal($("#importe-"+linea_id).html());
  var new_subtotal = {% with vieja_linea=lineas|dictsortreversed:"numero"|previous_line_in_list:linea %}{% with clase=vieja_linea.movimiento|to_class_name %}{% if clase == "Entrada" %} old_subtotal.minus(difference){% elif clase == "Salida" %} old_subtotal.plus(difference){% endif %}{% endwith %}{% endwith %};
  $("#subtotal-{{ linea.numero }}").html(new_subtotal.toFixed(2));
  {% endif %}
  {% endfor %}
</script>
{% endblock body_js %}
