{% extends 'druids.html' %}

{% block title %}Eco-gnomy: {{ view.title }}{% endblock title %}

{% block content %}
<div class="row">
  <div class="medium-6 large-6 columns medium-centered large-centered">
    <div class="panel">
      <h2>{{ view.title }}</h2>
      <br />
      <br />
      <table>
	<thead>
	  <tr>
	    <th>Nombre</th>
	    <th>Saldo</th>
	    <th>Extracto</th>
	  </tr>
	</thead>
	<tbody>
	  {% for registro in registros %}
	  <tr>
	    <td>{{ registro.nombre }}</td>
	    <td>{{ registro.saldo }}</td>
	    <td>
	      <a href="{% url 'druids:extracto-registro' registro.registro_ptr.id %}">
		Ver
	      </a>
	    </td>
	  </tr>
	  {% empty %}
	  <tr>
	    <td>No hay ningún registro creado.</td>
	  </tr>
	  {% endfor %}
	</tbody>
      </table>
    </div>
  </div>
</div>
{% endblock content %}
