{% load druids_tags %}
<div class="form-group">
  {% if not hide_label %}
  <label for={{ field.auto_id }}>
    {{ field.label }}
    {% if field.field.required %}<b>*</b>{% endif %}
  </label>
  {% endif %}
  {% if field.field.widget|is_select %}
  <select id="{{ field.id_for_label }}" name="{{ field.html_name }}" class="custom-select form-control {% if field.errors %}is-invalid{% endif %}">
    {% for choice in field.field.choices %}
    <option value="{{ choice.0 }}">{{ choice.1 }}</option>
    {% endfor %}
  </select>
  {% elif not field.field.widget|is_date %}
  {{ field }}
  {% else %}
  <input id="{{ field.id_for_label }}" name="{{ field.html_name }}" class="date-picker-0" type="text"></input>
  {% endif %}
  {% if field.errors %}
  <div class="invalid-feedback">
    <ul>
      {% for error in field.errors %}
      <li>{{ error|escape }}</li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  
  {% if not hide_help %}
  {% if field.help_text %}
  <p class="help">{{ field.help_text }}</p>
  {% endif %}
  {% endif %}
</div>

