{% extends "druids.html" %}
{% load druids_tags %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
<div class="row">
  <div class="medium-6 large-6 columns medium-centered large-centered">
    <h1>{{ title }}</h1>
  </div>
</div>
<br />
<br />
<div class="row">
  <div class="medium-6 large-6 columns medium-centered large-centered">
    <div class="panel">
      <form method="post">
	{% csrf_token %}
	{% non_field_errors form %}
	{% form_field form.tipo_salida %}
	<button type="submit" class="radius button">Generar cuaderno</button>
      </form>
    </div>
  </div>
</div>
<br />
<br />
{% if salidas %}
<div class="row">
  <div class="medium-10 large-10 columns medium-centered large-centered">
    <table style="width:100%">
      <thead>
	<tr>
	  <th>Fecha</th>
	  <th>Importe</th>
	  <th>Comentarios</th>
	  <th>Registro</th>
	  <th>Usuaria economia</th>
	</tr>
      </thead>
      <tbody>
	{% for salida in salidas %}
	<tr>
	  <td>{{ salida.fecha }}</td>
	  <td>{{ salida.importe }}</td>
	  <td>{{ salida.comentarios }}</td>
	  <td>{{ salida.registro }}</td>
	  <td>{{ salida.usuaria_economia }}</td>
	</tr>
	{% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endif %}
{% endblock content %}
