{% extends "druids.html" %}
{% load druids_tags %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
<div class="row">
  <div class="medium-6 large-6 columns medium-centered large-centered">
    <h1>{{ title }}</h1>
  </div>
</div>
<br />
<br />
<div class="row">
  <div class="medium-6 large-6 columns medium-centered large-centered">
    <div class="panel">
      <form method="post">
	{% csrf_token %}
	{% non_field_errors form %}
	{% form_field form.tipo_entrada %}
	<button type="submit" class="radius button">Generar cuaderno</button>
      </form>
    </div>
  </div>
</div>
<br />
<br />
{% if entradas %}
<div class="row">
  <div class="medium-10 large-10 columns medium-centered large-centered">
    <table style="width:100%">
      <thead>
	<tr>
	  <th>Fecha</th>
	  <th>Importe</th>
	  <th>Comentarios</th>
	  {% if tipo_entrada == 'mantenimiento' %}<th>Persona</th>{% endif %}
	  {% if tipo_entrada == 'piso' %}<th>Piso</th>{% endif %}
	  {% if tipo_entrada == 'donativo' %}<th>Persona</th>{% endif %}
	  {% if tipo_entrada == 'alquiler' %}<th>Persona</th>{% endif %}
	  {% if tipo_entrada == 'espacio_pp' %}<th>Proyecto</th>{% endif %}
	  {% if tipo_entrada == 'beneficio_pp' %}<th>Proyecto</th>{% endif %}
	  {% if tipo_entrada == 'trastero' %}<th>Trastero</th>{% endif %}
	  <th>Registro</th>
	  <th>Usuaria economia</th>
	</tr>
      </thead>
      <tbody>
	{% for entrada in entradas %}
	<tr>
	  <td>{{ entrada.fecha }}</td>
	  <td>{{ entrada.importe }}</td>
	  <td>{{ entrada.comentarios }}</td>
	  {% if tipo_entrada == 'mantenimiento' %}<td>{{ entrada.entradamantenimiento.persona }}</td>{% endif %}
	  {% if tipo_entrada == 'piso' %}<td>{{ entrada.entradapiso.habitante_piso }}</td>{% endif %}
	  {% if tipo_entrada == 'donativo' %}<td>{{ entrada.entradadonativo.persona }}</td>{% endif %}
	  {% if tipo_entrada == 'alquiler' %}<td>{{ entrada.entradaalquiler.persona }}</td>{% endif %}
	  {% if tipo_entrada == 'espacio_pp' %}<td>{{ entrada.entradaespacioproyectoproductivo.proyecto_productivo }}</td>{% endif %}
	  {% if tipo_entrada == 'beneficio_pp' %}<td>{{ entrada.entradabeneficioproyectoproductivo.proyecto_productivo }}</td>{% endif %}
	  {% if tipo_entrada == 'trastero' %}<td>{{ entrada.entradaalquilertrastero.persona_trastero }}</td>{% endif %}
	  <td>{{ entrada.registro }}</td>
	  <td>{{ entrada.usuaria_economia }}</td>
	</tr>
	{% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endif %}
{% endblock content %}
