{% extends "druids.html" %}

{% block title %}Dashboard GT Economía{% endblock title %}

{% block content %}
<div class="row">
  <div class="medium-6 columns">
    <fieldset>
      <legend><i class="fi-dollar-bill size-72"></i> Movimientos de guita</legend>
      <ul class="radius button-group even-4">
	<li>
	  <a href="#" class="disabled info button small">Entradas: </a>
	</li>
	<li>
	  <a href="{% url 'druids:crear-alquileres-entradas' %}" class="button small">
	    <i class="fi-plus size-36"></i> Alquil.
	  </a>
	</li>
	<li>
	  <a href="{% url 'druids:crear-proyectos-entradas' %}" class="button small">
	    <i class="fi-plus size-36"></i> Proy.
	  </a>
	</li>
	<li>
	  <a href="{% url 'druids:crear-otras-entradas' %}" class="button small">
	    <i class="fi-plus size-36"></i> Otras
	  </a>
	</li>
      </ul>
      <ul class="radius button-group even-2">
	<li>
	  <a href="#" class="disabled info button">Salidas:</a>
	</li>
	<li>
	  <a href="{% url 'druids:crear-salida' %}" class="button">
	    <i class="fi-plus size-36"></i> Todas
	  </a>
	</li>
      </ul>
    </fieldset>
  </div>
  <div class="medium-6 columns">
    <fieldset>
      <legend><i class="fi-home size-72"></i> Espacios</legend>
      <ul class="radius button-group even-3">
	<li>
	  <a href="#" class="disabled info button">Pisos: </a>
	</li>
	<li>
	  <a href="{% url 'druids:crear-piso' %}" class="button"><i class="fi-plus size-36"></i> Crear</a>
	</li>
	<li>
	  <a href="{% url 'druids:lista-pisos' %}" class="button"><i class="fi-align-center size-36"></i> Listar</a>
	</li>
      </ul>
      <ul class="radius button-group even-3">
	<li>
	  <a href="#" class="disabled info button">Trasteros: </a>
	</li>
	<li>
	  <a href="{% url 'druids:crear-trastero' %}" class="button"><i class="fi-plus size-36"></i> Crear</a>
	</li>
	<li>
	  <a href="{% url 'druids:lista-trasteros' %}" class="button"><i class="fi-align-center size-36"></i> Listar</a>
	</li>
      </ul
    </fieldset>
  </div>
</div>
<div class="row">
  <div class="medium-6 columns">
    <fieldset>
      <legend><i class="fi-clipboard-notes"></i> Cuotas</legend>
      <ul class="radius button-group even-3">
	<li>
	  <a href="#" class="disabled info button">Pisos: </a>
	</li>
	<li>
	  <a href="{% url 'druids:crear-cuota-piso' %}" class="button"><i class="fi-plus size-36"></i> Crear</a>
	</li>
	<li>
	  <a href="{% url 'druids:lista-cuotas-piso' %}" class="button"><i class="fi-align-center size-36"></i> Listar</a>
	</li>
      </ul>
      <ul class="radius button-group even-3">
	<li>
	  <a href="#" class="disabled info button">Mantenimiento: </a>
	</li>
	<li>
	  <a href="{% url 'druids:crear-mantenimiento' %}" class="button"><i class="fi-plus size-36"></i> Crear</a>
	</li>
	<li>
	  <a href="{% url 'druids:lista-mantenimiento' %}" class="button"><i class="fi-align-center size-36"></i> Listar</a>
	</li>
      </ul>
    </fieldset>
  </div>
  <div class="medium-6 columns">
    <fieldset>
      <legend><i class="fi-link size-72"></i> Pactos de reciprocidad</legend>
      <ul class="radius button-group even-3">
	<li>
	  <a href="#" class="disabled button info">Hab. Piso: </a>
	</li>
	<li>
	  <a href="{% url 'druids:crear-habitantepiso' %}" class="button"><i class="fi-plus size-36"></i> Crear</a>
	</li>
	<li>
	  <a href="{% url 'druids:lista-habitantepiso' %}" class="button"><i class="fi-align-center size-36"></i> Listar</a>
	</li>
      </ul>
      <ul class="radius button-group even-3">
	<li>
	  <a href="#" class="disabled button info">Per. Trast.: </a>
	</li>
	<li>
	  <a href="{% url 'druids:crear-personatrastero' %}" class="button"><i class="fi-plus size-36"></i> Crear</a>
	</li>
	<li>
	  <a href="{% url 'druids:lista-personatrastero' %}" class="button"><i class="fi-align-center size-36"></i> Listar</a>
	</li>
      </ul>
    </fieldset>
  </div>
</div>
<div class="row">
  <div class="medium-6 columns">
    <fieldset>
      <legend><i class="fi-social-myspace size-72"></i> Calafouenses</legend>
      <ul class="radius button-group even-3">
	<li>
	  <a href="#" class="disabled info button">Huespedes: </a>
	</li>
	<li>
	  <a href="{% url 'druids:crear-huesped' %}" class="button"><i class="fi-plus size-36"></i> Crear</a>
	</li>
	<li>
	  <a href="{% url 'druids:lista-huespedes' %}" class="button"><i class="fi-align-center size-36"></i> Listar</a>
	</li>
      </ul>
      <ul class="radius button-group even-3">
	<li>
	  <a href="#" class="disabled info button">Invitadas: </a>
	</li>
	<li>
	  <a href="{% url 'druids:crear-invitada' %}" class="button"><i class="fi-plus size-36"></i> Crear</a>
	</li>
	<li>
	  <a href="{% url 'druids:lista-invitadas' %}" class="button"><i class="fi-align-center size-36"></i> Listar</a>
	</li>
      </ul>
      <ul class="radius button-group even-3">
	<li>
	  <a href="#" class="disabled info button">Habitantes: </a>
	</li>
	<li>
	  <a href="{% url 'druids:crear-habitante' %}" class="button"><i class="fi-plus size-36"></i> Crear</a>
	</li>
	<li>
	  <a href="{% url 'druids:lista-habitantes' %}" class="button"><i class="fi-align-center size-36"></i> Listar</a>
	</li>
      </ul>      
    </fieldset>
  </div>
  <div class="medium-6 columns">
    <fieldset>
      <legend><i class="fi-list-bullet"></i> Registros</legend>
      <ul class="radius button-group even-3">
	<li>
	  <a href="#" class="disabled button info">Metálico: </a>
	</li>
	<li>
	  <a href="{% url 'druids:crear-metalico' %}" class="button"><i class="fi-plus size-36"></i> Crear</a>
	</li>
	<li>
	  <a href="{% url 'druids:lista-metalicos' %}" class="button"><i class="fi-align-center size-36"></i> Listar</a>
	</li>
      </ul>
      <ul class="radius button-group even-3">
	<li>
	  <a href="#" class="disabled button info">Bancario: </a>
	</li>
	<li>
	  <a href="{% url 'druids:crear-banco' %}" class="button"><i class="fi-plus size-36"></i> Crear</a>
	</li>
	<li>
	  <a href="{% url 'druids:lista-bancos' %}" class="button"><i class="fi-align-center size-36"></i> Listar</a>
	</li>
      </ul>
      <ul class="radius button-group even-3">
	<li>
	  <a href="#" class="disabled button info">Electrónico: </a>
	</li>
	<li>
	  <a href="{% url 'druids:crear-paypal' %}" class="button"><i class="fi-plus size-36"></i> Crear</a>
	</li>
	<li>
	  <a href="{% url 'druids:lista-paypals' %}" class="button"><i class="fi-align-center size-36"></i> Listar</a>
	</li>
      </ul>
    </fieldset>
  </div>+
</div>
<div class="row">
  <div class="medium-6 columns">
    <fieldset>
      <legend><i class="fi-social-steam"></i> Proyectos Productivos</legend>
      <ul class="radius button-group even-2">
	<li>
	  <a href="{% url 'druids:crear-proyecto' %} " class="button"><i class="fi-plus size-36"></i> Crear</a>
	</li>
	<li>
	  <a href="{% url 'druids:lista-proyectos' %}" class="button"><i class="fi-align-center size-36"></i> Listar</a>
	</li>
      </ul>
    </fieldset>
  </div>
  <div class="medium-6 columns">
    <fieldset>
      <legend><i class="fi-clipboard-notes size-72"></i> Cuadernos Contables</legend>
      <ul class="radius button-group even-2">
	<li>
	  <a href="{% url 'druids:cuaderno_contable_entradas' %}" class="button"><i class="fi-arrow-up size-36"></i> Entradas</a>
	</li>
	<li>
	  <a href="{% url 'druids:cuaderno_contable_salidas' %}" class="button"><i class="fi-arrow-down size-36"></i> Salidas</a>
	</li>
      </ul>
    </fieldset>
  </div>
</div>
<div class="row">
  <div class="columns">
    <fieldset>
      <legend><i class="fi-ticket size-72"></i> Estadísticas</legend>
      <ul class="radius button-group even-1">
	<li>
	  <a href="{% url 'druids:reportes-mensuales-por-tipo' %}" class="button"><i class="fi-align-center size-36"></i> Reportes mensuales</a>
	</li>
      </ul>
    </fieldset>
  </div>
</div>
<div class="row">
  <div class="columns">
    <fieldset>
      <legend><i class="fi-upload"></i> Exportar a CSV</legend>
      <ul class="radius button-group even-6">
	<li>
	  <a href="#" class="disabled button info"> Movimientos:</a>
	</li>
	<li>
	  <a href="{% url 'druids:exportar_entradas_csv' %}" class="button"> Entradas</a>
	</li>
	<li>
	  <a href="{% url 'druids:exportar_salidas_csv' %}" class="button"> Salidas</a>
	</li>
	<li>
	  <a href="#" class="disabled button info"> Espacios:</a>
	<li>
	  <a href="{% url 'druids:exportar_pisos_csv' %}" class="button"> Pisos</a>
	</li>
	<li>
	  <a href="{% url 'druids:exportar_trasteros_csv' %}" class="button"> Trasteros</a>
	</li>
      </ul>
      <ul class="radius button-group even-6">
	<li>
	  <a href="#" class="disabled button info"> Cuotas:</a>
	</li>
	<li>
	  <a href="{% url 'druids:exportar_cuotas_piso_csv' %}" class="button"> CuotasPiso</a>
	</li>
	<li>
	  <a href="{% url 'druids:exportar_cuotas_mantenimiento_csv' %}" class="button"> CuotasMant.</a>
	</li>
	<li>
	  <a href="#" class="disabled button info"> Pactos:</a>
	</li>
	<li>
	  <a href="{% url 'druids:exportar_habitante_piso_csv' %}" class="button"> Hab.Piso</a>
	</li>
	<li>
	  <a href="{% url 'druids:exportar_persona_trastero_csv' %}" class="button"> Per.Trast.</a>
	</li>
      </ul>
      <ul class="radius button-group even-6">
	<li>
	  <a href="#" class="disabled button info"> Personas:</a>
	</li>
	<li>
	  <a href="{% url 'druids:exportar_personas_csv' %}" class="button"> Todas</a>
	</li>
	<li>
	  <a href="#" class="disabled button info"> Registros:</a>
	</li>
	<li>
	  <a href="{% url 'druids:exportar_registros_csv' %}" class="button"> Todos</a>
	</li>
	<li>
	  <a href="#" class="disabled button info"> Proyectos:</a>
	</li>
	<li>
	  <a href="{% url 'druids:exportar_proyectos_csv' %}" class="button"> Todos</a>
	</li>
      </ul>
    </fieldset>
  </div>
</div>
{% endblock content %}
