{% extends "base.html" %}
{% load staticfiles %}

{% block title %} {{ title }}{% endblock title %}


{% block base_body %}
<div class="row">
  <div class="col-xl-3 col-sm-6 mb-3">
    <div class="card text-white bg-primary o-hidden h-100">
      <div class="card-body">
        <div class="card-body-icon">
          <i class="fas fa-fw fa-comments"></i>
        </div>
        <div class="mr-5">{{ active_contributors }} Calafitas activas economicamente!</div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-sm-6 mb-3">
    <div class="card text-white bg-warning o-hidden h-100">
      <div class="card-body">
        <div class="card-body-icon">
          <i class="fas fa-fw fa-list"></i>
        </div>
        <div class="mr-5">{{ active_projects }} Proyectos activos!</div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-sm-6 mb-3">
    <div class="card text-white bg-success o-hidden h-100">
      <div class="card-body">
        <div class="card-body-icon">
          <i class="fas fa-fw fa-shopping-cart"></i>
        </div>
        <div class="mr-5">{{ total_balance }} € de balance!</div>
      </div>
    </div>
  </div>
  <div class="col-xl-3 col-sm-6 mb-3">
    <div class="card text-white bg-danger o-hidden h-100">
      <div class="card-body">
        <div class="card-body-icon">
          <i class="fas fa-fw fa-life-ring"></i>
        </div>
        <div class="mr-5">{{ internal_debt }} € de deuda interna!</div>
      </div>
    </div>
  </div>
</div>
<div class="card mb-3">
  <div class="card-header">
    <i class="fas fa-chart-area"></i>
    Fluctuación del balance
  </div>
  <div class="card-body">
    <canvas id="balance-flow" width="100%" height="30"></canvas>
  </div>
  <div class="card-footer small text-muted"><3 Calafou</div>
</div>
{% endblock base_body %}
{% block body_js %}
<script src="{% static 'js/balance-flow.js' %}"></script>
{% endblock body_js %}
