{% extends "base.html" %}
{% load druids_tags %}

{% block title %}{{ title }}{% endblock title %}

{% block base_body %}
<div class="row">
  <div class="col-xl-3 col-sm-6 ml-auto mr-auto">
    <div class="card">
      <div class="card-header">
	{{ title }}
      </div>
      <div class="card-body">
	<form method="post">
	  {% csrf_token %}
	  {% non_field_errors form %}
	  <div class="form-row">
	    <div class="col-md-12 mb-3">
	      {% form_field form.proyecto %}
	    </div>
	  </div>
	  <button type="submit" class="float-right btn btn-outline-primary">Generar informe</button>
	</form>
      </div>
    </div>
  </div>
</div>
<br />
<br />
{% if proyecto %}
<div class="row">
  <div class="col-12 ml-auto mr-auto mb-3">
    <div class="card text-white bg-primary o-hidden h-100">
      <div class="card-body">
	<div class="mr-5">
	  <center><strong>{{ proyecto.nombre }}</strong></center>
	</div>
      </div>
      <div class="card-footer text-white clearfix z-1">
	<center>{% if proyecto.is_active %}Activando Calafou desde {{ proyecto.fecha_creacion }}{% else %}Activó Calafou desde {{ proyecto.fecha_creacion }} hasta {{ proyecto.fecha_disolucion }}{% endif %}</center>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 col-sm-12 ml-auto mr-auto mb-3">
    <div class="card text-white bg-success o-hidden">
      <div class="card-header">
	<center><strong>Reciprocidad del proyecto</strong></center>
      </div>
      <div class="card-body">
	<ul class="list-group">
	  <li class="list-group-item d-flex bg-success justify-content-between align-items-center">
	    En beneficios:
	    <span class="badge badge-light badge-pill">
	      {{ proyecto.aportacion_beneficios }} €
	    </span>
	  </li>
	  <li class="list-group-item d-flex bg-success justify-content-between align-items-center">
	    En concepto de alquiler:
	    <span class="badge badge-light badge-pill">
	      {{ proyecto.aportacion_alquiler }} €
	    </span>
	  </li>
	</ul>
      </div>
      <div class="card-footer d-flex bg-success justify-content-between align-items-center">
	Deuda del proyecto sobre el espacio:
	<span class="badge badge-light badge-pill">
	  {{ proyecto.deuda_espacio }} €
	</span>
      </div>
      {% if proyecto.comentarios %}
      <div class="card-footer">
	<p><center>Comentarios AG Economia</center></p>
	<p class="small">{{ proyecto.comentarios }}</p>
      </div>
      {% endif %}
    </div>
  </div>
</div>
<div class="row">
  {% if proyecto.ultimas_aportaciones_beneficio %}
  <div class="col-md-6 col-sm-12 mb-3">
    <div class="card text-white bg-danger o-hidden">
      <div class="card-header">
	<center><strong>Últimas aportaciones en beneficios</strong></center>
      </div>
      <div class="card-body">
	<table class="table table-sm table-hover">
	  <thead>
	    <tr>
	      <td>Fecha</td>
	      <td>Comentarios</td>
	      <td>Importe</td>
	    </tr>
	  </thead>
	  <tbody>
	    {% for movimiento in proyecto.ultimas_aportaciones_beneficio %}
	    <tr>
	      <td>{{ movimiento.fecha }}</td>
	      <td>{{ movimiento.comentarios }}</td>
	      <td>{{ movimiento.importe }} €</td>
	    </tr>
	    {% endfor %}
	  </tbody>
	</table>   
      </div>
    </div>
  </div>
  {% endif %}
  {% if proyecto.ultimas_aportaciones_espacio %}
  <div class="col-md-6 col-sm-12 mb-3">
    <div class="card text-white bg-danger o-hidden">
      <div class="card-header">
	<center><strong>Últimas aportaciones en alquiler</strong></center>
      </div>
      <div class="card-body">
	<table class="table table-sm table-hover">
	  <thead>
	    <tr>
	      <td>Fecha</td>
	      <td>Comentarios</td>
	      <td>Importe</td>
	    </tr>
	  </thead>
	  <tbody>
	    {% for movimiento in proyecto.ultimas_aportaciones_espacio %}
	    <tr>
	      <td>{{ movimiento.fecha }}</td>
	      <td>{{ movimiento.comentarios }}</td>
	      <td>{{ movimiento.importe }} €</td>
	    </tr>
	    {% endfor %}
	  </tbody>
	</table>   
      </div>
    </div>
  </div>
  {% endif %}
</div>
{% endif %}
{% endblock base_body %}
