{% extends "base.html" %}
{% load druids_tags %}

{% block title %}{{ title }}{% endblock title %}

{% block base_body %}
<div class="row">
  <div class="col-xl-3 col-sm-6 ml-auto mr-auto">
    <div class="card">
      <div class="card-header">
	Situaciones personales
      </div>
      <div class="card-body">
	<form method="post">
	  {% csrf_token %}
	  {% non_field_errors form %}
	  <div class="form-row">
	    <div class="col-md-12 mb-3">
	      {% form_field form.habitante %}
	    </div>
	  </div>
	  <button type="submit" class="float-right btn btn-outline-primary">Generar informe</button>
	</form>
      </div>
    </div>
  </div>
</div>
<br />
<br />
{% if habitante %}
<div class="row">
  <div class="col-12 ml-auto mr-auto mb-3">
    <div class="card text-white bg-primary o-hidden h-100">
      <div class="card-body">
	<div class="mr-5">
	  <center><strong>{{ habitante.nombre }}</strong></center>
	</div>
      </div>
      <div class="card-footer text-white clearfix z-1">
	<center>{% if habitante.is_active %}Viviendo en Calafou desde {{ habitante.fecha_de_entrada }}{% else %}Vivió en Calafou desde {{ habitante.fecha_de_entrada }} hasta {{ habitante.fecha_de_salida }}{% endif %}</center>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-sm-12 mb-3">
    <div class="card text-white bg-success o-hidden">
      <div class="card-header">
	<center><strong>Estado mantenimiento</strong></center>
      </div>
      <div class="card-body">
	<ul class="list-group">
	  <li class="list-group-item d-flex bg-success justify-content-between align-items-center">
	    Cuotas pagadas:
	    <span class="badge badge-light badge-pill">
	      {{ habitante.cuotas_mantenimiento_pagadas }}
	    </span>
	  </li>
	  <li class="list-group-item bg-success">
	    Cuotas supuestas:
	    <ul>
	      {% for cuota in habitante.cuotas_mantenimiento_supuestas %}
	      <li class="d-flex bg-success justify-content-between align-items-center">
		{{ cuota.periodo }}
		<span class="badge badge-light badge-pill">
		  {{ cuota.numero }}
		</span>
	      </li>
	      {% endfor %}
	    </ul>
	  </li>
	</ul>
      </div>
      <div class="card-footer d-flex bg-success justify-content-between align-items-center">
	Deuda mantenimiento:
	<span class="badge badge-light badge-pill">
	  {{ habitante.deuda_mantenimiento }} €
	</span>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-sm-12 mb-3">
    <div class="card text-white bg-success o-hidden">
      <div class="card-header">
	<center><strong>Últimos movimientos de mantenimiento</strong></center>
      </div>
      <div class="card-body">
	<table class="table table-sm table-hover">
	  <thead>
	    <tr>
	      <td>Fecha</td>
	      <td>Comentarios</td>
	      <td>Importe</td>
	    </tr>
	  </thead>
	  <tbody>
	    {% for movimiento in habitante.ultimos_movimientos_mantenimiento %}
	    <tr>
	      <td>{{ movimiento.fecha }}</td>
	      <td>{{ movimiento.comentarios }}</td>
	      <td>{{ movimiento.importe }} €</td>
	    </tr>
	    {% endfor %}
	  </tbody>
	</table>   
      </div>
    </div>
  </div>
</div>
{% if habitante.tiene_pacto_de_piso %}
{% for pacto in habitante.estado_pactos_de_piso %}
<div class="row">
  <div class="col-md-6 col-sm-12 mb-3">
    <div class="card text-white bg-dark o-hidden">
      <div class="card-header">
	<p><center><strong>Reciprocidad por piso {{ pacto.nombre }}</strong></center></p>
	<p class="small"><center>{% if pacto.viviendo %}Habitando desde {{ pacto.fecha_entrada }}{% else %} Habitó desde {{ pacto.fecha_entrada }} hasta {{ pacto.fecha_salida }}{% endif %}</center></p>
      </div>
      <div class="card-body">
	<ul class="list-group">
	  <li class="list-group-item d-flex bg-dark justify-content-between align-items-center">
	    Acumulado para el derecho de uso
	    <span class="badge badge-light badge-pill">
	      {{ pacto.total_acumulado }} €
	    </span>
	  </li>
	  <li class="list-group-item bg-dark">
	    <p>Porcentaje sobre el valor total <span class="float-right badge badge-light badge-pill">
	      {{ pacto.porcentaje_pagado }}%
	    </span></p>
	    <div class="progress">
	      <div class="progress-bar bg-dark progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="{{ pacto.porcentaje_pagado }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ pacto.porcentaje_pagado }}%">
	      </div>
	    </div>
	  </li>
	  <li class="list-group-item d-flex bg-dark justify-content-between align-items-center">
	    Cuota de entrada
	    <span class="badge badge-light badge-pill">
	      {% if pacto.entrada_pagada %}OK{% else %}NO{% endif %}
	    </span>
	  </li>
	  <li class="list-group-item d-flex bg-dark justify-content-between align-items-center">
	    Cuota de onduline
	    <span class="badge badge-light badge-pill">
	      {% if pacto.onduline_pagado %}OK{% else %}NO{% endif %}
	    </span>
	  </li>
	  <li class="list-group-item d-flex bg-dark justify-content-between align-items-center">
	    Cuotas pagadas
	    <span class="badge badge-light badge-pill">
	      {{ pacto.cuotas_pagadas }}
	    </span>
	  </li>
	  <li class="list-group-item d-flex bg-dark justify-content-between align-items-center">
	    Cuotas supuestas
	    <span class="badge badge-light badge-pill">
	      {{ pacto.cuotas_supuestas }}
	    </span>
	  </li>
	</ul>
      </div>
      <div class="card-footer d-flex bg-dark justify-content-between align-items-center">
	Deuda acumulada:
	<span class="badge badge-light badge-pill">
	  {{ pacto.deuda }} €
	</span>
      </div>
      {% if pacto.comentarios %}
      <div class="card-footer">
	<p><center>Comentarios AG Economia</center></p>
	<p class="small">{{ pacto.comentarios }}</p>
      </div>
      {% endif %}
    </div>
  </div>
  <div class="col-md-6 col-sm-12 mb-3">
    <div class="card text-white bg-dark o-hidden">
      <div class="card-header">
	<center><strong>Últimos movimientos para piso {{ pacto.nombre }}</strong></center>
      </div>
      <div class="card-body">
	<table class="table table-sm table-hover">
	  <thead>
	    <tr>
	      <td>Fecha</td>
	      <td>Comentarios</td>
	      <td>Importe</td>
	    </tr>
	  </thead>
	  <tbody>
	    {% for movimiento in pacto.ultimos_movimientos %}
	    <tr>
	      <td>{{ movimiento.fecha }}</td>
	      <td>{{ movimiento.comentarios }}</td>
	      <td>{{ movimiento.importe }} €</td>
	    </tr>
	    {% endfor %}
	  </tbody>
	</table>   
      </div>
    </div>
  </div>
</div>    
{% endfor %}
{% endif %}
{% if habitante.tiene_movimientos_alquiler %}
<div class="row">
  <div class="col-md-12 col-sm-12 mb-3">
    <div class="card text-white bg-danger o-hidden">
      <div class="card-header">
	<center><strong>Movimientos de alquiler</strong></center>
      </div>
      <div class="card-body">
	<table class="table table-sm table-hover">
	  <thead>
	    <tr>
	      <td>Fecha</td>
	      <td>Comentarios</td>
	      <td>Importe</td>
	    </tr>
	  </thead>
	  <tbody>
	    {% for movimiento in habitante.ultimos_movimientos_alquiler %}
	    <tr>
	      <td>{{ movimiento.fecha }}</td>
	      <td>{{ movimiento.comentarios }}</td>
	      <td>{{ movimiento.importe }} €</td>
	    </tr>
	    {% endfor %}
	  </tbody>
	</table>   
      </div>
    </div>
  </div>
</div>
{% endif %}
{% if habitante.tiene_pacto_trastero %}
{% for pacto in habitante.estado_pactos_trastero %}
<div class="row">
  <div class="col-md-6 col-sm-12 mb-3">
    <div class="card text-white bg-danger o-hidden">
      <div class="card-header">
	<p><center><strong>Reciprocidad por trastero {{ pacto.nombre }}</strong></center></p>
	<p class="small"><center>{% if pacto.usando %}Usando desde {{ pacto.fecha_entrada }}{% else %} Usado desde {{ pacto.fecha_entrada }} hasta {{ pacto.fecha_salida }}{% endif %}</center></p>
      </div>
      <div class="card-body">
	<ul class="list-group">
	  <li class="list-group-item d-flex bg-danger justify-content-between align-items-center">
	    Cuotas pagadas
	    <span class="badge badge-light badge-pill">
	      {{ pacto.cuotas_pagadas }}
	    </span>
	  </li>
	</ul>
      </div>
      <div class="card-footer d-flex bg-danger justify-content-between align-items-center">
	Deuda acumulada:
	<span class="badge badge-light badge-pill">
	  {{ pacto.deuda }} €
	</span>
      </div>
      {% if pacto.comentarios %}
      <div class="card-footer">
	<p><center>Comentarios AG Economia</center></p>
	<p class="small">{{ pacto.comentarios }}</p>
      </div>
      {% endif %}
    </div>
  </div>
  <div class="col-md-6 col-sm-12 mb-3">
    <div class="card text-white bg-danger o-hidden">
      <div class="card-header">
	<center><strong>Últimos movimientos para trastero {{ pacto.nombre }}</strong></center>
      </div>
      <div class="card-body">
	<table class="table table-sm table-hover">
	  <thead>
	    <tr>
	      <td>Fecha</td>
	      <td>Comentarios</td>
	      <td>Importe</td>
	    </tr>
	  </thead>
	  <tbody>
	    {% for movimiento in pacto.ultimos_movimientos %}
	    <tr>
	      <td>{{ movimiento.fecha }}</td>
	      <td>{{ movimiento.comentarios }}</td>
	      <td>{{ movimiento.importe }} €</td>
	    </tr>
	    {% endfor %}
	  </tbody>
	</table>   
      </div>
    </div>
  </div>
</div>    
{% endfor %}
{% endif %}

{% endif %}
{% endblock base_body %}
