{% extends "base.html" %}
{% load staticfiles %}
{% load druids_tags %}

{% block title %}
Eco-gnome: Log-in
{% endblock title %}

{% block css %}
<link href="{% static "foundation/css/foundation-icons.css" %}" rel="stylesheet"/>
{% endblock css %}

{% block base_body %}
<div class="row">
  <div class="medium-6 large-4 columns medium-centered large-centered">
    <h1>Bienvenida</h1>
  </div>
</div>
<br />
<br />
<div class="row">
  <div class="medium-6 large-4 columns medium-centered large-centered">
    <div class="panel">
      <form method="post">
	{% csrf_token %}
	{% non_field_errors form %}
	{% form_field form.username %}
	{% form_field form.password %}
	<button type="submit" class="expand radius button"><i class="fi-arrow-up size-24"></i>  Inicia sesión</button>
      </form>
    </div>
  </div>
</div>
{% endblock base_body %}
