{% if breadcrumbs %}
<ol class="breadcrumb">
  {% for breadcrumb in breadcrumbs %}
  {% if not breadcrumb.is_active %}
  <li class="breadcrumb-item">
    <a href="{{ breadcrumb.url }}">{{ breadcrumb.title }}</a>
  </li>
  {% else %}
  <li class="breadcrumb-item active">{{ breadcrumb.title }}</li>
  {% endif %}
  {% endfor %}
</ol>
{% endif %}
