<footer class="sticky-footer">
  <div class="container my-auto">
    <div class="copyright text-center my-auto">
      <span>No F****ng Copyright © Calafou - Ecognomy</span>
    </div>
  </div>
</footer>
