<ul class="sidebar navbar-nav">
  <li class="nav-item active">
    <a class="nav-link" href="{% url 'druids:index' %}">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Vista Aérea</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'druids:situaciones-personales' %}">
      <i class="fas fa-fw fa-child"></i>
      <span>Situaciones Personales</span>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'druids:proyectos-productivos' %}">
      <i class="fas fa-fw fa-gavel"></i>
      <span>Proyectos Productivos</span>
    </a>
  </li>
  {% comment %}
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="pagesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <i class="fas fa-fw fa-folder"></i>
      <span>Pages</span>
    </a>
    <div class="dropdown-menu" aria-labelledby="pagesDropdown">
      <h6 class="dropdown-header">Login Screens:</h6>
      <a class="dropdown-item" href="login.html">Login</a>
      <a class="dropdown-item" href="register.html">Register</a>
      <a class="dropdown-item" href="forgot-password.html">Forgot Password</a>
      <div class="dropdown-divider"></div>
      <h6 class="dropdown-header">Other Pages:</h6>
      <a class="dropdown-item" href="404.html">404 Page</a>
      <a class="dropdown-item" href="blank.html">Blank Page</a>
    </div>
  </li>
  {% endcomment %}
  <li class="nav-item">
    <a class="nav-link" href="#">
      <i class="fas fa-fw fa-chart-area"></i>
      <span>Gráficos</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="tables.html">
      <i class="fas fa-fw fa-table"></i>
      <span>Planillas</span></a>
  </li>
</ul>
