{% load staticfiles %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Ecognomy">
    <meta name="author" content="Calafou">
    {% block meta %}{% endblock meta %}

    <title>Calafou - {% block title %}Ecognomy{% endblock title %}</title>

    <!-- Bootstrap core CSS-->
    <link href="{% static "vendor/bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="{% static "vendor/fontawesome-free/css/all.min.css" %}" rel="stylesheet" type="text/css">

    <!-- Page level plugin CSS-->
    <link href="{% static "vendor/datatables/dataTables.bootstrap4.css" %}" rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static "css/sb-admin.css" %}" rel="stylesheet">

    <link href="{% static "vendor/datepicker/css/default.picker.css" %}" rel="stylesheet"/>
    <link href="{% static "vendor/datepicker/css/default.picker.date.css" %}" rel="stylesheet"/>

    {# Custom CSS #}
    {% block css %}
    {% endblock css %}

    {# Custom head JS #}
    {% block head_js %}{% endblock head_js %}
  </head>
  <body id="page-top">

    {% include "_navbar.html" %}

    <div id="wrapper">

      {% include "_sidebar.html" %}

      <div id="content-wrapper">
	<div class="container-fluid">

	  {% include "_breadcrumbs.html" %}

	  {# Main content goes here #}
	  {% block base_body %}{% endblock base_body %}

	</div>

	{% include "_footer.html" %}

      </div>
    </div>
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript-->
    <script src="{% static "vendor/jquery/jquery.min.js" %}"></script>
    <script src="{% static "vendor/bootstrap/js/bootstrap.bundle.min.js" %}"></script>

    <!-- Core plugin JavaScript-->
    <script src="{% static "vendor/jquery-easing/jquery.easing.min.js" %}"></script>

    <!-- Page level plugin JavaScript-->
    <script src="{% static "vendor/chart.js/Chart.min.js" %}"></script>
    <script src="{% static "vendor/datatables/jquery.dataTables.js" %}"></script>
    <script src="{% static "vendor/datatables/dataTables.bootstrap4.js" %}"></script>

    <!-- Custom scripts for all pages-->
    <script src="{% static "js/sb-admin.min.js" %}"></script>

    <!-- Custom date picker -->
    <script src="{% static "vendor/datepicker/js/picker.js" %}"></script>
    <script src="{% static "vendor/datepicker/js/picker.date.js" %}"></script>
    <script>
      $('.date-picker-0').pickadate({'format': 'yyyy-mm-dd'});
    </script>

    {# Custom JS #}
    {% block body_js %}
    {% endblock body_js %}
  </body>
</html>
