{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
{% endblock title %}

{% block css %}
<link href="{% static "foundation/css/foundation-icons.css" %}" rel="stylesheet"/>
<style>
  .messages {
  .alert-box {
  border-radius: $global-radius;
  margin: $half-padding 0 $half-padding;
  box-shadow: 0px 3px 2px rgba(0, 0, 0, 0.2);
  border-top: 0;
  padding-top: $half-padding;
  padding-bottom: $half-padding;
  }
}
</style>
{% endblock css %}

{% block base_body %}
<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="{% url 'druids:index' %}">Home</a></h1>
    </li>
  </ul>
  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <ul class="right">
      <li class="has-dropdown">
      <a href="#">{% if user.is_authenticated %}{{ user.name }}{% else %}Eco-gnomy{% endif %}</a>
	<ul class="dropdown">
	  {% if not user.is_authenticated %}
	  <li class="active">
	    <a href="{% url 'login' %}"><i class="fi-arrow-up size-12"></i> Log in</a>
	  </li>
	  {% else %}
	  <li>
	    <a href="{% url 'druids:gt-dashboard' %}"><i class="fi-home size-12"></i> Panel GT</a>
	  </li>
	  <li class="active">
	    <a href="{% url 'logout' %}"><i class="fi-arrow-down size-12"></i> Log out</a>
	  </li>
	  {% endif %}
	</ul>
      </li>
    </ul>
    <!-- Lefat Nav Section -->
    <ul class="left">
      <li>
	<a href="{% url 'druids:situaciones-personales' %}">Situaciones personales</a>
      </li>
      <li>
	<a href="{% url 'druids:balance-general' %}">Balance general</a>
      </li>
      <li>
	<a href="{% url 'druids:proyectos-productivos' %}">Proyectos productivos</a>
      </li>
   <!--    <li>
	 <a href="#">Cuenta atrás</a>
      </li>-->
    </ul>
  </section>
</nav>
{% if messages %}
<div class="row messages">
  {% for message in messages %}
  <div data-alert class="alert-box radius {% if message.tags %}{{ message.tags }}{% endif %}">
    {% if 'info' in message.tags %}<i class="fi-info size-36"></i>{% endif %}
    {% if 'success' in message.tags %}<i class="fi-star size-36"></i>{% endif %}
    {% if 'warning' in message.tags %}<i class="fi-alert size-36"></i>{% endif %}
    {% if 'alert' in message.tags %}<i class="fi-skull size-36"></i>{% endif %}
    {{ message }}
    <a href="#" class="close">&times;</a>
  </div>
  {% endfor %}
</div>
{% endif %}

<br />

{% block content %}
{% endblock content %}
{% endblock base_body %}
