{% extends 'druids.html' %}

{% block title %}Eco-gnomy: {{ title }}{% endblock title %}

{% block content %}
<div class="row">
  <div class="medium-8 large-8 columns medium-centered large-centered">
    <div class="panel">
      <h2>{{ title }}</h2>
      <br />
      <br />
      <table style="width:100%">
	<thead>
	  <tr>
	    <th>Fecha de inicio</th>
	    <th>Fecha de final</th>
	    <th>Subtotal</th>
	  </tr>
	</thead>
	<tbody>
	  {% for report in reports %}
	  <tr>
	    <td>{{ report.fecha_de_inicio }}</td>
	    <td>{{ report.fecha_de_final }}</td>
	    <td><a class="small button radius expand" href="{% url 'druids:reporte-mensual-por-tipo' report.pk %}">{{ report.subtotal }}</a></td>
	  </tr>
	  {% empty %}
	  <tr>
	    <td>No hay ningún balance creado.</td>
	  </tr>
	  {% endfor %}
	</tbody>
      </table>
    </div>
  </div>
</div>
{% endblock content %}
