{% extends 'druids.html' %}

{% block title %}Eco-gnomy: {{ view.title }}{% endblock title %}

{% block content %}
<div class="row">
  <div class="medium-10 large-10 columns medium-centered large-centered">
    <div class="panel">
      <h2>{{ view.title }}</h2>
      <h3> Desde {{ report.fecha_de_inicio }} hasta {{ report.fecha_de_final }} </h3>
      <br />
      <br />
      <h3> Subtotal: {{ report.subtotal }} </h3>
      <br />
      <br />
      <h4>Entradas: {{ report.subtotal_entradas }}</h4>
      <table style="width:100%">
	<thead>
	  <tr>
	    <th>Tipo</th>
	    <th>Importe</th>
	  </tr>
	</thead>
	<tbody>
	  <tr>
	    <td>Mantenimiento</td>
	    <td>{{ report.subtotal_entradas_mantenimiento }}</td>
	  </tr>
	  <tr>
	    <td>Cuotas de piso</td>
	    <td>{{ report.subtotal_entradas_piso }}</td>
	  </tr>
	  <tr>
	    <td>Alquileres</td>
	    <td>{{ report.subtotal_entradas_alquiler }}</td>
	  </tr>
	  <tr>
	    <td>Donativos</td>
	    <td>{{ report.subtotal_entradas_donativo }}</td>
	  </tr>
	  <tr>
	    <td>Eventos</td>
	    <td>{{ report.subtotal_entradas_evento }}</td>
	  </tr>
	  <tr>
	    <td>Espacio Proyectos Productivos</td>
	    <td>{{ report.subtotal_entradas_espacio_pp }}</td>
	  </tr>
	  <tr>
	    <td>Beneficios Proyectos Productivos</td>
	    <td>{{ report.subtotal_entradas_beneficio_pp }}</td>
	  </tr>
	  <tr>
	    <td>Trasteros</td>
	    <td>{{ report.subtotal_entradas_trastero }}</td>
	  </tr>
	  <tr>
	    <td>Otras</td>
	    <td>{{ report.subtotal_entradas_otra }}</td>
	  </tr>
	  <tr>
	    <td>Transferencias</td>
	    <td>{{ report.subtotal_entradas_transferencia }}</td>
	  </tr>
	</tbody>
      </table>
      <br />
      <br />
      <h4>Salidas: {{ report.subtotal_salidas }}</h4>
      <table style="width:100%">
	<thead>
	  <tr>
	    <th>Tipo</th>
	    <th>Importe</th>
	  </tr>
	</thead>
	<tbody>
	  <tr>
	    <td>Cuota alquiler finca</td>
	    <td>{{ report.subtotal_salidas_alquiler_compra }}</td>
	  </tr>
	  <tr>
	    <td>Material Rehabilitación</td>
	    <td>{{ report.subtotal_salidas_material_rehabilitacion }}</td>
	  </tr>
	  <tr>
	    <td>Butano</td>
	    <td>{{ report.subtotal_salidas_butano }}</td>
	  </tr>
	  <tr>
	    <td>Transferencia</td>
	    <td>{{ report.subtotal_salidas_transferencia }}</td>
	  </tr>
	  <tr>
	    <td>Impuestos</td>
	    <td>{{ report.subtotal_salidas_impuesto }}</td>
	  </tr>
	  <tr>
	    <td>Comisiones</td>
	    <td>{{ report.subtotal_salidas_comision }}</td>
	  </tr>
	  <tr>
	    <td>Internet</td>
	    <td>{{ report.subtotal_salidas_internet }}</td>
	  </tr>
	  <tr>
	    <td>Agua</td>
	    <td>{{ report.subtotal_salidas_agua }}</td>
	  </tr>
	  <tr>
	    <td>Fiare</td>
	    <td>{{ report.subtotal_salidas_fiare }}</td>
	  </tr>
	  <tr>
	    <td>Otras</td>
	    <td>{{ report.subtotal_salidas_otra }}</td>
	  </tr>
	</tbody>
      </table>
    </div>
  </div>
</div>
{% endblock content %}
