{% extends 'druids.html' %}

{% block title %}Eco-gnomy: {{ view.title }}{% endblock title %}

{% block content %}
<div class="row">
  <div class="medium-6 large-6 columns medium-centered large-centered">
    <div class="panel">
      <h2>{{ view.title }}</h2>
      <br />
      <br />
      <table>
	<thead>
	  <tr>
	    <th>Nombre</th>
	    <th>Cuota Espacio</th>
	    <th>Fecha de Creación</th>
	    <th>Fecha de Disolución</th>
	    <th>Acciones</th>
	  </tr>
	</thead>
	<tbody>
	  {% for proyecto in proyectos %}
	  <tr>
	    <td>{{ proyecto.nombre }}</td>
	    <td>{{ proyecto.cuota_espacio }}</td>
	    <td>{{ proyecto.fecha_creacion }}</td>
	    <td>{% if proyecto.fecha_disolucion %}{{ proyecto.fecha_disolucion }}{% else %}---{% endif %}</td>
	    <td><a href="{% url view.edit_url proyecto.pk %}"><i class="fi-pencil size-36"></i></a></td>
	  </tr>
	  {% empty %}
	  <tr>
	    <td>No hay ningún proyecto creado.</td>
	  </tr>
	  {% endfor %}
	</tbody>
      </table>
    </div>
  </div>
</div>
{% endblock content %}
