{% extends 'druids.html' %}
{% load druids_tags %}

{% block title %} Eco-gnomy: {{ view.title }} {% endblock title %}

{% block content %}
<div class="row">
  <div class="medium-12 large-12 columns">
    <div class="panel">
      <h2>{{ title }}</h2>
      <br />
      <br />
      <form method="post">
	{% csrf_token %}
	<h3> Mantenimiento <a href="#" class="right round info button tiny" id="add_mantenimiento"><i class="fi-plus size-24"></i></a></h3>
	{{ mantenimiento_formset.management_form }}
	<table>
	  <thead>
	    <tr>
	      <th>Fecha de Movimiento</th>
	      <th>Importe</th>
	      <th>Comentarios</th>
	      <th>Registro</th>
	      <th>Persona</th>
	    </tr>
	  </thead>
	  <tbody>
	    {% for form in mantenimiento_formset %}
	    {% if form.non_field_errors %}
	    <tr>
	      <td colspan="5">{% form_field form.non_field_errors %}</td>
	    </tr>
	    {% endif %}
	    <tr class="mantenimiento_row">
	      <td>{% form_field form.fecha %}</td>
	      <td>{% form_field form.importe %}</td>
	      <td>{% form_field form.comentarios %}</td>
	      <td>{% form_field form.registro %}</td>
	      <td>{% form_field form.persona %}</td>
	      <td style="display:none;">{{ form.id }}</td>
	    </tr>
	    {% endfor %}
	  </tbody>
	</table>
	<h3> Donativos <a href="#" class="right round info button tiny" id="add_donativo"><i class="fi-plus size-24"></i></a></h3>
	{{ donativos_formset.management_form }}
	<table>
	  <thead>
	    <tr>
	      <th>Fecha de Movimiento</th>
	      <th>Importe</th>
	      <th>Comentarios</th>
	      <th>Registro</th>
	      <th>Persona</th>
	    </tr>
	  </thead>
	  <tbody>
	    {% for form in donativos_formset %}
	    {% if form.non_field_errors %}
	    <tr>
	      <td colspan="5">{% form_field form.non_field_errors %}</td>
	    </tr>
	    {% endif %}
	    <tr class="donativo_row">
	      <td>{% form_field form.fecha %}</td>
	      <td>{% form_field form.importe %}</td>
	      <td>{% form_field form.comentarios %}</td>
	      <td>{% form_field form.registro %}</td>
	      <td>{% form_field form.persona %}</td>
	      <td style="display:none;">{{ form.id }}</td>
	    </tr>
	    {% endfor %}
	  </tbody>
	</table>
	<h3> Otras Entradas <a href="#" class="right round info button tiny" id="add_otra"><i class="fi-plus size-24"></i></a></h3>
	{{ otras_formset.management_form }}
	<table>
	  <thead>
	    <tr>
	      <th>Fecha de Movimiento</th>
	      <th>Importe</th>
	      <th>Comentarios</th>
	      <th>Registro</th>
	    </tr>
	  </thead>
	  <tbody>
	    {% for form in otras_formset %}
	    {% if form.non_field_errors %}
	    <tr>
	      <td colspan="5">{% form_field form.non_field_errors %}</td>
	    </tr>
	    {% endif %}
	    <tr class="otra_row">
	      <td>{% form_field form.fecha %}</td>
	      <td>{% form_field form.importe %}</td>
	      <td>{% form_field form.comentarios %}</td>
	      <td>{% form_field form.registro %}</td>
	      <td style="display:none;">{{ form.id }}</td>
	    </tr>
	    {% endfor %}
	  </tbody>
	</table>
	<h3> Transferencias <a href="#" class="right round info button tiny" id="add_transferencia"><i class="fi-plus size-24"></i></a></h3>
	{{ transferencias_formset.management_form }}
	<table>
	  <thead>
	    <tr>
	      <th>Fecha de Movimiento</th>
	      <th>Importe</th>
	      <th>Comentarios</th>
	      <th>Registro</th>
	    </tr>
	  </thead>
	  <tbody>
	    {% for form in transferencias_formset %}
	    {% if form.non_field_errors %}
	    <tr>
	      <td colspan="5">{% form_field form.non_field_errors %}</td>
	    </tr>
	    {% endif %}
	    <tr class="transferencia_row">
	      <td>{% form_field form.fecha %}</td>
	      <td>{% form_field form.importe %}</td>
	      <td>{% form_field form.comentarios %}</td>
	      <td>{% form_field form.registro %}</td>
	      <td style="display:none;">{{ form.id }}</td>
	    </tr>
	    {% endfor %}
	  </tbody>
	</table>
	<button type="submit" class="expand radius button">Validar</button>
      </form>
    </div>
  </div>
</div>
{% endblock content %}

{% block body_js %}
<script>
  $('#add_mantenimiento').click(function() {
  cloneMore('tr.mantenimiento_row:last', 'mantenimiento');
  });

  $('#add_donativo').click(function() {
  cloneMore('tr.donativo_row:last', 'donativos');
  });

  $('#add_otra').click(function() {
  cloneMore('tr.otra_row:last', 'otras');
  });

  $('#add_transferencia').click(function() {
  cloneMore('tr.transferencia_row:last', 'transferencias');
  });

</script>
<script>
  function cloneMore(selector, type) {
  var newElement = $(selector).clone(false);
  var total = $('#id_' + type + '-TOTAL_FORMS').val();
  newElement.find('.picker:first').remove();
  newElement.find(':input').each(function() {
  attr = $(this).attr('name');
  if (typeof attr !== typeof undefined && attr !== false){
  var name = $(this).attr('name').replace('-' + (total-1) + '-','-' + total + '-');
  var id = 'id_' + name;
  $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
  if ($(this).hasClass('date-picker-'+(total-1))){
  var new_class = $(this).attr('class').replace('date-picker-' + (total-1), 'date-picker-' + total);
  $(this).attr('class', new_class);
  $(this).pickadate({'format': 'yyyy-mm-dd'});
  }
  }
  });
  newElement.find('label').each(function() {
  var newFor = $(this).attr('for').replace('-' + (total-1) + '-','-' + total + '-');
  $(this).attr('for', newFor);
  });
  total++;
  $('#id_' + type + '-TOTAL_FORMS').val(total);
  $(selector).after(newElement);
  }
</script>
{% endblock body_js %}
