{% extends 'druids.html' %}
{% load druids_tags %}

{% block title %} Eco-gnomy: {{ view.title }} {% endblock title %}

{% block content %}
<div class="row">
  <div class="medium-12 large-12 columns">
    <div class="panel">
      <h2>{{ title }}</h2>
      <br />
      <br />
      <form method="post">
	{% csrf_token %}
	<h3> Alquiler Espacio Proy. Prod. <a href="#" class="right round info button tiny" id="add_espacio"><i class="fi-plus size-24"></i></a></h3>
	{{ espacios_formset.management_form }}
	<table>
	  <thead>
	    <tr>
	      <th>Fecha de Movimiento</th>
	      <th>Importe</th>
	      <th>Comentarios</th>
	      <th>Registro</th>
	      <th>Proyecto Productivo</th>
	    </tr>
	  </thead>
	  <tbody>
	    {% for form in espacios_formset %}
	    {% if form.non_field_errors %}
	    <tr>
	      <td colspan="5">{% form_field form.non_field_errors %}</td>
	    </tr>
	    {% endif %}	    
	    <tr class="espacio_row">
	      <td>{% form_field form.fecha %}</td>
	      <td>{% form_field form.importe %}</td>
	      <td>{% form_field form.comentarios %}</td>
	      <td>{% form_field form.registro %}</td>
	      <td>{% form_field form.proyecto_productivo %}</td>
	      <td style="display:none;">{{ form.id }}</td>
	    </tr>
	    {% endfor %}
	  </tbody>
	</table>
	<h3> Beneficios Proy. Prod. <a href="#" class="right round info button tiny" id="add_beneficio"><i class="fi-plus size-24"></i></a></h3>
	{{ beneficios_formset.management_form }}
	<table>
	  <thead>
	    <tr>
	      <th>Fecha de Movimiento</th>
	      <th>Importe</th>
	      <th>Comentarios</th>
	      <th>Registro</th>
	      <th>Proyecto Productivo</th>
	    </tr>
	  </thead>
	  <tbody>
	    {% for form in beneficios_formset %}
	    {% if form.non_field_errors %}
	    <tr>
	      <td colspan="5">{% form_field form.non_field_errors %}</td>
	    </tr>
	    {% endif %}
	    <tr class="beneficio_row">
	      <td>{% form_field form.fecha %}</td>
	      <td>{% form_field form.importe %}</td>
	      <td>{% form_field form.comentarios %}</td>
	      <td>{% form_field form.registro %}</td>
	      <td>{% form_field form.proyecto_productivo %}</td>
	      <td style="display:none;">{{ form.id }}</td>
	    </tr>
	    {% endfor %}
	  </tbody>
	</table>
	<h3> Beneficios Evento <a href="#" class="right round info button tiny" id="add_evento"><i class="fi-plus size-24"></i></a></h3>
	{{ eventos_formset.management_form }}
	<table>
	  <thead>
	    <tr>
	      <th>Fecha de Movimiento</th>
	      <th>Importe</th>
	      <th>Comentarios</th>
	      <th>Registro</th>
	    </tr>
	  </thead>
	  <tbody>
	    {% for form in eventos_formset %}
	    {% if form.non_field_errors %}
	    <tr>
	      <td colspan="5">{% form_field form.non_field_errors %}</td>
	    </tr>
	    {% endif %}
	    <tr class="evento_row">
	      <td>{% form_field form.fecha %}</td>
	      <td>{% form_field form.importe %}</td>
	      <td>{% form_field form.comentarios %}</td>
	      <td>{% form_field form.registro %}</td>
	      <td style="display:none;">{{ form.id }}</td>
	    </tr>
	    {% endfor %}
	  </tbody>
	</table>
	<button type="submit" class="expand radius button">Validar</button>
      </form>
    </div>
  </div>
</div>
{% endblock content %}

{% block body_js %}
<script>
  $('#add_espacio').click(function() {
  cloneMore('tr.espacio_row:last', 'espacios');
  });

  $('#add_beneficio').click(function() {
  cloneMore('tr.beneficio_row:last', 'beneficios');
  });

  $('#add_evento').click(function() {
  cloneMore('tr.evento_row:last', 'eventos');
  });
</script>
<script>
  function cloneMore(selector, type) {
  var newElement = $(selector).clone(false);
  var total = $('#id_' + type + '-TOTAL_FORMS').val();
  newElement.find('.picker:first').remove();
  newElement.find(':input').each(function() {
  attr = $(this).attr('name');
  if (typeof attr !== typeof undefined && attr !== false){
  var name = $(this).attr('name').replace('-' + (total-1) + '-','-' + total + '-');
  var id = 'id_' + name;
  $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
  if ($(this).hasClass('date-picker-'+(total-1))){
  var new_class = $(this).attr('class').replace('date-picker-' + (total-1), 'date-picker-' + total);
  $(this).attr('class', new_class);
  $(this).pickadate({'format': 'yyyy-mm-dd'});
  }
  }
  });
  newElement.find('label').each(function() {
  var newFor = $(this).attr('for').replace('-' + (total-1) + '-','-' + total + '-');
  $(this).attr('for', newFor);
  });
  total++;
  $('#id_' + type + '-TOTAL_FORMS').val(total);
  $(selector).after(newElement);
  }
</script>
{% endblock body_js %}
