{% extends 'druids.html' %}
{% load druids_tags %}

{% block title %} Eco-gnomy: Desactivar cuota mantenimiento {% endblock title %}

{% block content %}
<div class="row">
  <div class="medium-6 large-6 columns medium-centered large-centered">
    <div class="panel">
      <h2>{{ view.title }}</h2>
      <br />
      <br />
      <form method="post">
	{% csrf_token %}
	{% non_field_errors form %}
	{% form_field form.fecha_desactivacion %}
	<button type="submit" class="expand radius button">Desactivar</button>
      </form>
    </div>
  </div>
</div>
{% endblock content %}
