{% extends 'druids.html' %}

{% block title %}Eco-gnomy: Lista cuotas de mantenimiento{% endblock title %}

{% block content %}
<div class="row">
  <div class="medium-6 large-6 columns medium-centered large-centered">
    <div class="panel">
      <h2>{{ view.title }}</h2>
      <br />
      <br />
      <table>
	<thead>
	  <tr>
	    <th>Tipo</th>
	    <th>Importe</th>
	    <th>Descripción</th>
	    <th>Desde</th>
	    <th>Hasta</th>
	    <th>Acciones</th>
	  </tr>
	</thead>
	<tbody>
	  {% for cuota in cuotas %}
	  <tr>
	    <td>{{ cuota.tipo }}</td>
	    <td>{{ cuota.importe }}</td>
	    <td>{{ cuota.descripcion }}</td>
	    <td>{{ cuota.fecha_activacion }}</td>
	    <td>{% if cuota.fecha_desactivacion %}{{ cuota.fecha_desactivacion }}{% else %}---{% endif %}</td>
	    <td>{% if not cuota.fecha_desactivacion %}<a href="{% url 'druids:desactivar-mantenimiento' cuota.pk %}">Desactivar</a>{% else %}---{% endif %}</td>
	  </tr>
	  {% empty %}
	  <tr>
	    <td>No hay ninguna cuota creada.</td>
	  </tr>
	  {% endfor %}
	</tbody>
      </table>
    </div>
  </div>
</div>
{% endblock content %}
